@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

:root {
  --primary: #5cca55;
  --bg: #ffffff;

  --icon: #9ba29b;
  --icon-selected: #5cca55;
  --icon-bg: #f5f8f5;
  --icon-bg-selected: #fefefe;

  --text-header: #3e4d3e;
  --text-body: #9ba29b;

  --border: 3.5px solid #f5f8f5;
  --border-hover: 3.5px solid #9ba29b;
  --border-selected: 3.5px solid #5cca55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container */
.container {
  width: 1540px;
  padding-top: 15px;
}

/* Header Container */
.header-container > span:first-child {
  font-size: 51px;
  font-weight: 800;
  letter-spacing: 0.6px;

  color: var(--primary);
  display: block;
}

.header-container > span:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;

  color: rgba(62, 77, 62, 0.6);

  margin-top: -10px;
  display: block;
}

/* Subheader Container */
.subheader-container {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-header);
  display: block;

  padding-top: 55px;
}

/* Stages Container */
.stages-container {
  display: flex;
  column-gap: 30px;
}

/* Stage Icon Container */
.stage-icon-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;

  background-color: var(--icon-bg);
  border: var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding-top: 6px;
}

.stage-icon-container > svg {
  height: 70px;
  width: auto;
}

.stage-icon-container > span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;

  color: var(--text-body);
  padding-top: 6px;
}

/* Categories Container */
.categories-container {
  display: flex;
  column-gap: 30px;
}

/* Category Icon Container */
.category-icon-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;

  background-color: var(--icon-bg);
  border: var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  position: relative;
}

.category-icon-container:nth-child(1) > svg {
  position: absolute;
  top: 15px;
}

.category-icon-container:nth-child(2) > svg {
  position: absolute;
  top: 33px;
}

.category-icon-container:nth-child(3) > svg {
  position: absolute;
  top: 27px;
}

.category-icon-container > span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: var(--text-body);

  position: absolute;
  bottom: 23px;
}

/* Utilities */
a {
  text-decoration: none;
}
object {
  pointer-events: none;
}

/* .stage-icon-container > a {
  cursor: pointer;
} */

svg {
  cursor: pointer;
}

object,
img,
span {
  user-select: none;
  -webkit-user-drag: none;
}

.hidden {
  display: none;
}

.padding-content {
  padding: 0px 65px;
  padding-top: 30px;
}

.icon-selected {
  background-color: var(--icon-bg-selected);
  border: var(--border-selected);
}

.icon-hover:hover {
  background-color: var(--bg);
  border: var(--border-hover);
}
